/* Add your custom CSS here */

nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--trans-000) }
nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--gray-800) }

header.hero-bg > .container-overlay { background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); } 

.section-selector-1 { background-color: var(--trend-050) }
.section-selector-1 h3{line-height: 1.5;}

body {font-family: 'Inter', sans-serif;}
